@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Product;
@if (Model != null)
{
    <h2>Are you sure you want to delete @Model.Name?</h2>
    <form asp-action="DeleteProduct" asp-controller="Product" method="post">

        <div class="form-group">
            <label asp-for="Id" hidden>ID</label>
            <input type="number" class="form-control" asp-for="Id" hidden>
        </div>

        <div class="row">
            <div class="form-group col">
                <label asp-for="Name">First Name</label>
                <input type="text" class="form-control" asp-for="Name" readonly>
            </div>
            <div class="form-group col">
                <label asp-for="Price">Last Name</label>
                <input type="text" class="form-control" asp-for="Price" readonly>
            </div>
        </div>

        <center><button type="submit" class="btn btn-danger">Delete</button></center>
    </form>
}
else
{
    <h2>Product not found</h2>
}
<a class="btn btn-dark" type="button" asp-controller="Product" asp-action="Index">Go Back</a>
